

/*Typography*/
@import url('../fonts/style.css');
body{
  color: inherit;
}

body {
  font-family: 'Founders Grotesk Text', sans-serif;
 font-weight: 300;
  font-size: 16px;
   line-height: 1.5;
  }
   
  @media (max-width: 767px) { 
   
  body {
  font-size: 20px;
  color: none;
  }
   
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: 'Druk Text Wide', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    }
h1{
  font-family: 'Druk Wide', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
h2{
  font-family: 'Druk Text Wide', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
h3{
  font-family: 'Druk Text Wide', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2;
}

p, ul li{
  
  font-family:  'Founders Grotesk Text', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  font-size: 1.2rem;
}
p{
  color: #4e5f6e;
   margin-bottom: 1.1rem;
}

img.lazy {
  
  display: block;
}
/*--------------------------------------------------
	03. Page Overlay
---------------------------------------------------*/	

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: #fff;
  z-index : 800;
  text-align:center;
}

.light-content.preloader-wrap {
  background: #0f1010;
}

.percentage {
  z-index: 100;
  color: #000;
  opacity:1;
  font-weight: 700;
  font-size:120px;
  line-height:200px;
  color:rgba(0,0,0,0);
  -webkit-text-stroke: 2px rgba(0,0,0,1);
}

.light-content .percentage {
  color:rgba(255,255,255,0);
  -webkit-text-stroke: 2px rgba(255,255,255,1);
}



/* Header Navigation */

.header-minimal .nav-open {
    display: block;
  }
  
  .header-minimal {
    color: transparent;
    height: 100px;
    line-height: 100px;
  }
  
  .logo {
    float: left;
    margin-top: 39px;
    height: 23px;
  }
  
  .nav-open {
    display: none;
    float: right;
    height: 22px;
    margin: 38px 0;
    position: relative;
    width: 28px;
  }
  
  .nav-open:hover {
    cursor: pointer;
  }
  
  .nav-open span {
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open span:before {
    position: absolute;
    top: -9px;
    content: " ";
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open span:after {
    position: absolute;
    top: 9px;
    content: " ";
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open:hover span:before, .nav-open:hover span:after {
    width: 80%;
    background: #000;
  }
  
  .nav-open span, .nav-open span:before, .nav-open span:after, .full-screen-nav {
    background: #000;
  }
  
  /* Invert colors */
  
  /*  Header Navigation  */
  
  .header-minimal .nav-open {
    display: block;
  }
  
  .header-minimal {
    z-index: 20;
    top: 0;
    width: 100%;
    position: absolute;
    height: 100px;
    line-height: 100px;
  }
  
  .logo {
    float: left;
    margin-top: 39px;
    height: 23px;
  }
  
  .nav-open {
    display: none;
    float: right;
    height: 22px;
    margin: 38px 0;
    position: relative;
    width: 28px;
  }
  
  .nav-open:hover {
    cursor: pointer;
  }
  
  .nav-open span {
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open span:before {
    position: absolute;
    top: -9px;
    content: " ";
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open span:after {
    position: absolute;
    top: 9px;
    content: " ";
    height: 2px;
    width: 100%;
    transition: all .3s ease-in-out;
  }
  
  .nav-open:hover span:before, .nav-open:hover span:after {
    width: 80%;
    background: #000;
  }
  
  /* invert colors */

  .ondark p,.ondark {
    color: #fff!important;
  }
  
 
  .nav-open:hover.ondark span:after,.nav-open:hover.ondark span:before,.subtitle.ondark p i:before,.ondark span:after,
  .ondark span:before, .ondark span , 
   .full-screen-nav  {
    background: #fff!important;
  }

  .fullscreen-nav {
    bottom: 0;
    height: 100vh;
    left: -100%;
    overflow-y: scroll;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .4s, left 0s .4s;
    width: 100%;
    z-index: 50;
    background: #fff;
  }
  
  .fullscreen-nav.active {
    left: 0;
    opacity: 1;
    transition: opacity .4s, left 0s;
  }
  
  .fullscreen-nav .container {
    position: relative;
  }
  
  .fullscreen-nav nav {
    padding: 200px 0 70px 0;
  }
  
  .fullscreen-nav nav a, .fullscreen-nav nav a:hover, .fullscreen-nav i {
    color: #000;
    text-decoration: none;
  }
  
  .fullscreen-nav nav li {
    cursor: pointer;
    font-family: 'Reservation Wide', sans-serif;
    font-size: 2rem;
    letter-spacing: .5px;
    list-style: none;
    margin-bottom: 12px;
    text-transform: capitalize;
  }
  
  .nav-close {
    font-size: 1.5rem;
    position: absolute;
    right: 3px;
    top: 35px;
    z-index: 5;
  }
  
  .menu-contact ul li {
    line-height: 2.6em;
    color: #4e5f6e;
    list-style-type: none;
  }
  .menu-contact ul li span{
    font-weight: 500;
    color: #00001A;
  }
  .menu-contact ul li a{
    text-decoration: none;
    color: #4e5f6e;
  }
  .menu-contact ul li:first-child {
    font-family: 'Reservation Wide', sans-serif;
    line-height: 2.6em;
    color: #ddd;
    list-style-type: none;
  }
  .menu-contact {
    padding: 200px 0 70px 0;
  }

  .menu-contact ul li:nth-child(1) {
    color: #000;
    font-weight: 700;
    line-height: 1.5;
    font-size: 2.25em;
  }
  
  .coll-nav-sub-item {
    display: none;
    margin-top: 5px;
    padding-left: 20px;
  }
  
  .collapsible-nav > li.nav-active .coll-nav-sub-item {
    display: block;
  }
  
  .full-screen-nav nav .coll-nav-sub-item li {
    font-size: 1rem;
    letter-spacing: .2px;
    margin-bottom: 8px;
  }
  
  .full-screen-nav .coll-nav-sub-item a {
    position: relative;
  }
  
  .full-screen-nav .coll-nav-sub-item a:hover:after {
    width: 100%;
  }
  
  .fullscreen-nav .coll-nav-sub-item a:after {
    background: #000;
  }
  
  .full-screen-nav .coll-nav-sub-item a:after {
    bottom: -5px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: width .4s linear;
    width: 0%;
  }
  
  /* Interactive Links */
  .img-responsive {
    display: block;
    max-width: 90%;
    height: auto;
}
.interactive-links {
    margin-top: 100px;
  }
  
  .interactive-links .item {
    text-align: center;
    position: relative;
  }
  
  .interactive-links .item h2 {
    display: inline;
    font-family: 'Druk Wide', sans-serif;
    font-weight: 500;
    font-size: 5.25rem;
    font-weight: normal;
    position: relative;
    text-transform: capitalize;
    z-index: 2;
    color: #000;
  }
  
  .interactive-links .item span {
    font-family: 'Founders Grotesk Text', sans-serif;
    font-size: .75rem;
    position: absolute;
    right: -51px;
    top: 0;
    color: #ddd;
  }
  
  .interactive-links a {
    text-decoration: none;
  }
  
  .interactive-links .item h2:hover {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 1.0);
  }
  
  .interactive-links .item img {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .interactive-links .item h2:hover ~ img {
    opacity: 1;
    transition: opacity .6s cubic-bezier(0.77, 0, 0.175, 1);
    
  }

  /*Single Project*/
  
  .hero-section{  
    height: 55vw;
    background-size: auto;
    background-size: cover;
  }
  .feature-1,.feature-2,.feature-3,.feature-4,
  .feature-5,.conclusion-section,
  .solutios-sections,.pain-sections,
  .personas-sections,.research-section,
  .chalanges-section,.poject-description{
    display: block;
    padding-bottom:10vw ;
}
.personas-sections,.solutios-sections,.chalanges-section,.poject-description{
  padding-top: 5vw;
}
.mr-5{
  margin-bottom: 5%;
}
.mr-10{
  margin-bottom: 10%;

}
.mr-20{
  margin-bottom: 20%
}
.blob{
  position: absolute;
  top: -400%;
  right: 55%;
  height: 42vw;
  z-index: 1;
}
.hero-text-title{
  margin-bottom: .45em;
  letter-spacing: -.02em;

  position: relative;
  z-index: 2;
 overflow: hidden;
}
.hero-text-title h1{
  font-family:'Druk Wide',sans-serif ;
  font-size: 3em;
}
.hero-text-subtitle{
  position: relative;
  z-index: 2;
}
.subtitle p{
  font-family: 'Founders Grotesk Text' sans-serif;
  font-weight: 500;
  font-size: 2em;
  bottom: 150%;  
}
.description-title h3,.subtitle p {
  position: relative;
  text-transform: uppercase;
  z-index: 3;
}

.description-title h3 span,.subtitle p i {
  padding-left: 55px;
}

.description-title h3 span:before, .subtitle p i:before {
  content: "";
  display: inline-block;
  top: 22px;
  position: absolute;
  width: 45px;
  background: #000;
}

.subtitle p i:before{
  left: 0;
  height: 3px;
}
.description-title h3 span:before{
  left: 2.25em;
  height: 3px;
  
}
.description-title h3{
  margin-bottom: 2em;
  line-height: 1.2;
}
.bg {
  display: block;
  
}
ul.sevices-description.services li:not(:first-child)::before{
content: '/';
margin-right:.25em;
}
.sevices-description.services:first-child{
font-weight: 500;

}
.ondark-gray.sevices-description a,.ondark-gray.sevices-description{
  color: #e8ecf2;
}
.sevices-description a{
 
  text-decoration: none;
}
.sevices-description
{
list-style: none;
padding: 0;
text-transform: uppercase;
margin-bottom: 25%;
}
ul.sevices-description li{
  font-size: 1rem;
}
.feature-1 .container-fluid,.feature-3 .container-fluid,.image-aside .container-fluid,
.split-image-section .container-fluid {

    margin: 0 !important;
    padding: 0 !important;
 
}
.split-inner img{
position: relative;
left: 0;
bottom: 5%;
left: 15%;
width: 35vw;
}

.split-inner{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5em;
}
.bg .bg-left {
  height: 40vw;

  
}
.bg .bg-left.bg-1{

  background:  url("../img/2447884.jpg") no-repeat;
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;


}
.bg .bg-right.bg-2{
  display: block;
  background:  url("../img/2.jpg") no-repeat;
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;

}
.bg-3{
  display: block;
  background:  url("../img/F4967.jpg") no-repeat;
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.bg .bg-right {
  height: 40vw;
 
}
.teaser, .img-wrap {
  position: relative;
  width: 100%;
}
.teaser img, .img-wrap img{
  width:100% ;
  height: 100%;
  object-fit: cover;
  object-position: 100 0;
}

.img-wrap.s-30{
  height: 30vw;
}
.img-wrap.s-50{
  height: 50vw;
}
.teaser img{
  height: 70vw;
}
.desriptions-fullwidth{
padding: 0 5vw;
}
p.prj-description{
  font-size: 1.5em;
}
video.video-section2{
  width: 100%;
  display: block;
  
}
.homescreen-nav svg{
  position: absolute;
  width: 26em;
  bottom: 2%;
  left: 2%;
  z-index:6;
  
}

.homescreen-phone-search
.homescreen-phone{
  position: relative;
  top:0;
  z-index:2;
}
.homescreen-phone{
  right: 0;
}
.homescreen-phone-search{
  left: 0;
}
.homescreen-search svg{
  position: absolute;
  width: 35em;
  top: 23%;
  left: 18%;
  z-index:6; 
}
/**Cards***/
.img-header{
  height: 18em;
}
.img-header img{
  width:100% ;
  height: 100%;
  object-fit: cover;
  object-position: 100 0;
}
.card-personas hr{
  margin:0;
}
.card-personas{
  display: block;
}
.heading-card{
  text-align: center;
  display: table;
  padding: 3% 2% 6% 3%;
}
.heading-card h3{
 font-family: 'Druk Text Wide',sans-serif;
  margin: 0;
 height:1.6em ;
  
}
.heading-card p{
  font-family: 'Founders Grotesk Text';
  font-weight: 500;
}
.heading-card span p{
  font-weight: 300;
  font-size: 1em;
  color: rgb(136, 136, 136);

}
.heading-card p{
  margin-bottom: 0;
  font-size: 1.2em;
}
.card-content h4{
  font-family:'Reservation Wide', sans-serif;
  font-weight: bold;

}

.card-content h4{
  margin:1em 0 .8em 0;;
}

.card-content ul li{
  text-align: left;
}
ul.blue-bullets  li::before,
.card-content ul li::before{
  content:'\2022';
  color: rgb(0, 4, 255);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left:-1em;
}
ul.blue-bullets,
.card-content ul{
  list-style: none;
  padding-left: 2rem;
}
ul.blue-bullets li{
  color: #4e5f6e;
  margin-bottom: 1rem;
}
.card-content{
  padding-top: 1em;
}
.card-personas{
  background: rgb(247, 247, 247);
 
}
.card-content{
  text-align: left;
  padding-bottom: 5%;
}
.card-content:not(h4){
  text-align: center;
}

/***Footer***/


.contact-me {
  position: relative;
  background: #DBDFE2;
  padding-top:9em;
  padding-bottom:9rem;
}
.contact-me h2,.contact-me a{
  display:block;

}
.footer{
  position: relative;
   text-decoration: none;
  padding: 2% 0;
  
}
.footer.footer-dark{
  background: #00001A;
}
.footer.footer-light{
background: #f8f8f8;
}
.footer.footer-light ul li a{
  color: #00001A;
}
.footer ul li a{
  color: #e8ecf2;
}

/*  */

.next-project {
  position: relative;
  background: #eaeeef
}

.next-project [class^=col-] {
  position: static
}

.next-project a {
  display: block;
  padding-top: 4.25rem;
  padding-bottom: 4rem;
  text-decoration: none;
  color: #000
}

.next-project-link {
  text-align: right
}

.next-project-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  transition: all .5s .5s ease-in-out
}

.prev-project-link .next-project-photo {
  left: 0;
  right: 50%
}

.next-project-link .next-project-photo {
  left: 50%;
  right: 0
}

.next-project a:hover .next-project-photo {
  opacity: 1
}

.next-project h3,
.next-project .h3 {
  position: relative;
  top: 0;
  opacity: 1;
  font-size: 2.6em;
  line-height: 1.2;
  transition: all .4s .3s ease-in-out
}

.next-project-promo {
  height: 24rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  background-position: 50% 0%;
  background-size: cover;
  text-align: center
}

.next-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase
}

.next-project .next-title {
  margin-bottom: .75rem;
  font-size: 1.125rem;
  color: #999;
  position: relative;
  top: 0;
  opacity: 1;
  transition: all .4s .2s ease-in-out
}

.next-project a:hover .next-title,
.next-project a:hover h3,
.next-project a:hover .h3 {
  top: -2rem;
  opacity: 0
}

/*  */
/* CTA buttons */
.cta-btn{
  text-transform:capitalize;
  font-size: 1.4em;
  text-decoration: none;
  text-align: center;
  width: 12em;
   padding: 5% 2% 5% ;
  background: #00001A;
  color: #eaeeef;
  transition:0.5s ease-out;
  display:inline-flex;
  justify-content: center;
}
a.cta-btn:hover{
  text-decoration: none;
  color: #fff;
  background: #0015ED;

}
.center-block a{
  display: block;
  /* margin-right: auto; */
  margin-left: auto;
}
  /* Media Queries */

/* ----Table of Contents

-@media(max-width:1024px)
-  @media(max-width:770px)
- @media(max-width:480px)
- @media(max-width:320px)
- @media(min-height:1024px)
--- */

@media (max-width: 1024px) {
  .interactive-links .item h2:hover {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 1.0);
    /*display: none;*/
  }
}

@media (max-width: 1024px) {
  .interactive-links .item img {
    display: none;
  }
  .heading-card h3{
    font-size: 1em;
  }
  .personas-card{
    width: 45%;
    margin: 2% 2%;
  }


}
/*============ About me Page ====================*/
.about-me{
  margin-top: 6em;
}
ul.service-list{
  list-style:none; 
  padding-left:0; 
  margin-bottom:1.5rem ;
}
ul.service-list li{
  color: #4e5f6e;
  list-style: none;
  text-transform: capitalize;
}
/* contact Form */
.contact-form input,
.contact-form textarea,
.contact-form select {
	border: none;
	outline: none;
}

.contact-form input,
.contact-form select {
  margin-bottom: 30px;
  padding-left:2em; 
}

.contact-form input::placeholder,
.contact-form input,
.contact-form select {
	font-family: 'Founders Grotesk Text', sans-serif;
	font-size: .75rem;
	letter-spacing: .3px;
}

.contact-form input[name=name],
.contact-form input[name=email],
.contact-form input[name=_replyto], 
.contact-form select
{
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	width: 48%;
}

.contact-form input[name=name]
 {
	margin-right: 4%;
}

.contact-form textarea {
	height: 200px;
	padding: 25px;
	width: 100%;
}

.contact-form textarea {
	font-family: 'Founders Grotesk Text', sans-serif;
	font-size: .875rem;
	line-height: 1.6;
}

.contact-form textarea::-webkit-scrollbar {
    width: 8px; 
}
.contact-form input,
.contact-form textarea,
.contact-form select
{
	background: #f8f8f8;
}

.contact-form input[type=submit]{
  background: #00001A;
  color: #fff;
  transition: 6s cubic-bezier(0.23, 1, 0.320, 1);
}
.contact-form input[type=submit]:hover
 {
  color: #fff;
	background: #0260e8;
}
.contact-form input[type=submit] {
	cursor: pointer;
	font-family: 'Founders Grotesk Text', sans-serif;
	float: right;
	font-size: .6875rem;
	font-weight: 500;
	height: 50px;
	letter-spacing: 3px;
	line-height: 50px;
	margin: 23px 0 0 0;
	text-transform: uppercase;
	transition: all .2s linear;
	width: 220px;
}

@media (max-width: 770px) {
  .subtitle p{
    font-size: 1.5em;
  }
  .hero-text-title h1{
    font-size: 2em;
  }
  .interactive-links {
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .next-project h3,
  .next-project .h3 {
      font-size: 1.875rem
  }
  .next-project-link {
    text-align: left;
  }
  .split-inner img{
    width: 80vw;
    left: 0;
    top:10%;
  }
  .split-inner {
    padding: 2em;
    
  }
  .bg .bg-right,.bg .bg-left{
    height: 20em;
  }
  
  .blob{
    display: block;
    height: 80vw;
    left: 15%;
    bottom: 50%;
  }
  .heading-card h3{
    font-size: 2em;
  }
  .interactive-links .item h2 {
    font-size: 3rem;
  }
  .nav-open {
    display: block;
  }
  .interactive-links .item h2 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .hero-section {

    height: 100vh;
}
.homescreen-nav svg{
    width: 18em;
    bottom: 1%;
    left: 5%;
  }
.homescreen-search svg{
    width: 18em;
    top: 22%;
    left: 6%;
}
  .center-block a{
  margin-right: auto;
  margin-top: 10%;
  }
  .img-wrap.s-30{
    height: 30vh;
  }
  .img-wrap.s-50{
    height: 70vh;
  }
  h2.hero-text-subtitle{
    font-size:1.4em ;
  }
  .teaser img{
    height: 100vh;
  }
  .personas-card{
    width: 100%;
    margin: 5% 0;
    }
  .interactive-links .item h2 {
    font-size: 2.7rem;
  }

  .interactive-links .item span {
    display: none;
  }

  .interactive-links .item span {
    display: none;
  }

  .hero-section .hero-content .title {
    font-size: 36px;
    line-height: 29px;
  }
  .heading-card h3{
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .interactive-links .item h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .interactive-links {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
  }
  .heading-card h3{
    font-size: 1.6em;
  }
}

